body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #17191C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit; /*все ссылки будут наследовать цвет своего родителя*/
}

.container {
  margin: 0 auto;
  width: 1142px;
}

.header {
  height: 88px;
  position: relative;
}

.logo {
  display: block;
  position: absolute;
  top: 21px;
  left: 0;
}

.menu {
  position: absolute;
  top: 42px;
  left: 439px;
}

.contacts {
  position: absolute;
  top: 27px;
  left: 951px;
}