.about {
  margin-bottom: 51px;
}

.about__content:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url(/videoproduction/img/cameraman.png) center center / cover no-repeat;
}

.about__desc {
  background: #fff;
  padding: 70px 203px 70px 81px;
  display: inline-block;
  vertical-align: top;
  min-height: 455px;
  width: 785px;
  margin-left: -140px;
  margin-top: 98px;
  border-radius: 5px;
}

.title--dark {
  margin-bottom: 37px;
}

.about__text {
  margin-bottom: 43px;
  color: #060606;
  line-height: 169%;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.button--about {
  padding: 18px 40px;
}