.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__phone {
  font-size: 26px;
  font-style: normal;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  font-style: normal;
}