.hello {
  margin-bottom: 233px;
}

.hello__container {
  width: 776px;
  height: 333px;
}

.button--bright {
  display: inline-block;
}

.hello__title, .hello__subtitle, .hello__btn-wrapper {
  text-align: center;
}

.hello__text {
  width: 776px;
}

.hello__title {
  margin-bottom: 18px;
}

.hello__subtitle {
  margin-bottom: 44px;
}
