.hello {
  margin-bottom: 233px;
}

.hello__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hello__title, .hello__subtitle, .hello__btn-wrapper {
  display: flex;
  justify-content: center;
}

.hello__title {
  margin-bottom: 15px;
  text-align: center;
}

.hello__subtitle {
  margin-bottom: 44px;
}
