.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 54px;
  font-size: 14px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover {
  color: #FF3D00;
  transition: .5s;
}

.menu__item—active {
  color: #FF3D00;
}