.news {
  margin-bottom: 143px;
}

.title {
  margin-bottom: 51px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 20px;
}

.news__item:last-child {
  margin-right: 0px;
}

.news__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.news__text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 27px 29px;
  min-height: 116px;
}

.news__date {
  margin-bottom: 12px;
  font-size: 14px;
}

.news__offer {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 24px;
}

.news__desc {
  line-height: 131%;
  max-width: 442px;
}

.news__items {
  margin-bottom: 53px;
}

.paginator {
  text-align: center;
}

.paginator__display, .paginator__list, .paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 25px;
}

.paginator__number {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  font-weight: 700;
  line-height: 32px;
}

.paginator__number--current {
  background: #FF5500;
}