.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 59px;
}

.partners__item {
  min-width: 241px;
  max-width: 300px;
  flex-grow: 1;
  margin-right: 26px;
  filter: grayscale(1);
  display: flex;
}

.partners__item:hover {
  filter: grayscale(0);
  transition: 0.5s;
}

.partners__item:nth-child(4n + 4) {
justify-content: flex-end;
}

.partners__link {
  display: flex;
  align-items: center;
}