.services {
  margin-bottom: 63px;
  display: flex;
  flex-direction: column;
}

.services__item {
  display: flex;
  min-height: 333px;
  margin-bottom: 50px;
}

.services__item:last-child {
  margin-bottom: 0;
}

.services__img {
  margin-right: 5%;
  width: 40.3%;
}

.services__content {
  flex: 1;
  padding: 16px 0px 20px 0px;
}

.services__title {
  text-transform: none;
  margin-bottom: 33px;
}

.services__desc {
  line-height: 169%;
  margin-bottom: 35px;
}